* {
box-sizing: border-box;

}
body {
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
}
.MediaText {
  color: orange;
}
@media (min-width: 768px) {
  .MediaText {
    color: red;
  }

.myVideo {
  display: block;

}
.Page {
  display: flex;
  flex-direction: column;
  margin: auto;
}

}

body {
      margin: 25px 270px;
}

#EntireP {
  margin-top: 40px;
}

}
