* {
box-sizing: border-box;

}
body {
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 30px;
}
.MediaText {
  color: orange;
}
@media (min-width: 768px) {
  .MediaText {
    color: red;
  }




.myVideo {
  display: block;

}
.Page {
  display: flex;
  flex-direction: column;
  margin: auto;
}

}


#EntireP {
  margin-top: 40px;
}

}
